#menu {
  position: relative;
  margin-right: 80px;
  top: 318px;
  border: none;
}

#menu ul,
#menu li {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}

#menu ul {
  height: 35px;
}

#menu li {
  float: left;
  display: inline;
  position: relative;
}

#menu li:first-child {
  border-left: none;
}

#menu a {
  display: block;
  line-height: 35px;
  padding: 0 14px;
  text-decoration: none;
  color: #007791;
  position: relative;
}

#menu li > a,
#menu li a {
  background: #fff;
}

#menu input {
  display: none;
  margin: 0 0;
  padding: 0 0;
  width: 80px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
}

#menu label {
  font: bold 30px Arial;
  display: none;
  width: 35px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}

#menu label span {
  font-size: 12px;
  position: absolute;
  left: 35px;
}

#menu ul.menus {
  height: auto;
  width: 180px;
  background: #fff;
  position: absolute;
  z-index: 99;
  display: none;
  border: 0;
}

#menu ul.menus li {
  display: block;
  width: 100%;
  text-transform: none;
}

#menu li ul.menus {
  display: block;
}

#menu a.home {
  background: #c00;
}

#menu a.prett {
  padding: 0 27px 0 14px;
}

#menu a.prett::after {
  content: "";
  width: 0;
  height: 0;
  border-width: 6px 5px;
  border-style: solid;
  border-color: #eee transparent transparent transparent;
  position: absolute;
  top: 15px;
  right: 9px;
}

#menu ul.menus a {
  background: #f2f3f5;
}

#menu ul.menus .submenu {
  display: none;
  position: absolute;
  left: 180px;
  background: #fff;
  top: 0;
  width: 120px;
  height: auto;
}

#menu ul.menus .subsubmenu {
  display: block;
  position: absolute;
  left: 100%;
  background: #fff;
  top: 0;
  height: auto;
  width: 120px;
}

#menu ul.menus .submenu li {
}

#menu ul.menus .has-submenu:hover .submenu {
  display: block;
}

#menu ul.menus .has-submenu .submenu:hover .subsubmenu {
  display: block;
}
