
<div class="list">
  <h3>Shopping List</h3>
  <ul>
    <li
      *ngFor="let item of todo; trackBy: idForItem"
      class="todo"
      (click)="completeTodo(item)"
    >
      {{ item.label }}
    </li>
  </ul>
</div>

<div class="list">
  <h3>Purchased</h3>
  <ul>
    <li
      *ngFor="let item of done; trackBy: idForItem"
      class="done"
      (click)="restore(item)"
    >
      {{ item.label }}
    </li>
  </ul>
</div>


<button (click)="toggleContent()">Toggle Content</button>
<div *ngIf="showContent" @fadeIn>
  <h1>Fade In Content</h1>
</div>
<div *ngIf="!showContent" @slideIn>
  <h1>Slide In Content</h1>
</div>