
<div class="list">
  <h3>Shopping List</h3>
  <ul>
    @for (item of todo; track idForItem($index, item)) {
      <li
        class="todo"
        (click)="completeTodo(item)"
        >
        {{ item.label }}
      </li>
    }
  </ul>
</div>

<div class="list">
  <h3>Purchased</h3>
  <ul>
    @for (item of done; track idForItem($index, item)) {
      <li
        class="done"
        (click)="restore(item)"
        >
        {{ item.label }}
      </li>
    }
  </ul>
</div>


<button (click)="toggleContent()">Toggle Content</button>
@if (showContent) {
  <div @fadeIn>
    <h1>Fade In Content</h1>
  </div>
}
@if (!showContent) {
  <div @slideIn>
    <h1>Slide In Content</h1>
  </div>
}